<main class="d-flex justify-content-center align-items-center" style="height: 100vh;">
    <div class="d-flex justify-content-center flex-wrap bg-white border shadow-lg rounded-lg px-5 py-5">
      <div class ="d-flex justify-content-center align-items-center" style="width: 100%;">
        <img src="assets/Filme.jpg" class="img-fluid flex-basis-100 my-5" width="250px">
      </div>  
      <div class ="d-flex justify-content-center align-items-center"  style="width: 100%;">
        MUITO OBRIGADO PELA SUA PARTICIPAÇÃO
      </div>
    </div>
  </main>
